@font-face {
    font-family: 'RuiXian';
    src: url('../assets/fonts/RuiXian.woff2') format('woff2'), url('../assets/fonts/RuiXian.woff') format('woff'),
        url('../assets/fonts/RuiXian.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Geometos';
    src: url('../assets/fonts/Geometos.woff2') format('woff2'), url('../assets/fonts/Geometos.woff') format('woff'),
        url('../assets/fonts/Geometos.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KV-AvantGarde';
    src: url('../assets/fonts/KV-AvantGarde.woff2') format('woff2'), url('../assets/fonts/KV-AvantGarde.woff') format('woff'),
        url('../assets/fonts/KV-AvantGarde.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KV-AvantGarde-BOLD';
    src: url('../assets/fonts/KV-AvantGarde-BOLD.woff2') format('woff2'), url('../assets/fonts/KV-AvantGarde-BOLD.woff') format('woff'),
        url('../assets/fonts/KV-AvantGarde-BOLD.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
